# Database Configuration
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=transcendence
DATABASE_URL=postgresql://postgres:postgres@db:5432/transcendence

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379

# Nginx / HTTPS Configuration
SSL_CERT_PATH=/etc/nginx/ssl/localhost.crt
SSL_KEY_PATH=/etc/nginx/ssl/localhost.key
